<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.kiranastoremanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SaleProducts"></activity>
        <activity android:name=".UpdateProduct" />
        <activity android:name=".HelperNavigationBar" />
        <activity android:name=".AddPurchase" />
        <activity android:name=".AddSale" />
        <activity android:name=".AddPrice" />
        <activity android:name=".CustomerAdd" />
        <activity android:name=".Profile" />
        <activity android:name=".SuppilerAdd" />
        <activity android:name=".CustomerList" />
        <activity android:name=".SupplierList" />
        <activity android:name=".TransactionList" />
        <activity android:name=".PriceList" />
        <activity
            android:name=".SignIn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".CreateAccount" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>